.catalog-panorama__image {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 137px;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 660px;
    height: 509px;
    object-fit: cover;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 506px;
    object-fit: cover;
  }
}

.catalog-panorama__description {
  background-color: @light-gray;
}
