.contacts {
  padding-top: 47px;
}

.contacts__details {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.contacts__caption {
  color: @dark-gray;
  display: block;
  margin: auto;

  @media (min-width: @tablet-width) {
    max-width: 370px;
  }

  @media (min-width: @desktop-width) {
    max-width: 465px;
  }
}

.contacts__list {
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    max-width: 620px;
    margin: 46px auto 23px;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
  }
}

.contacts__item {
  margin-top: 42px;

  @media (min-width: @tablet-width) {
    min-width: 300px;
  }

  @media (min-width: @desktop-width) {
    &--third {
      order: 2;
    }

    &--second {
      order: 3;
    }
  }
}

.contacts__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  display: block;
  text-align: center;
  margin-bottom: 4px;
}

.contacts__text {
  display: block;
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  color: @pink;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

.contacts__email {
  &:hover,
  &:focus-visible {
    color: @dark-gray;
    text-decoration: underline;
  }

  &:active {
    color: fade(@dark-gray, 30%);
    text-decoration: none;
  }
}

.contacts__map {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 33px;
    background-color: @white;
    clip-path: polygon(0 0, 100% 0, 50% 100%);

    @media (min-width: @tablet-width) {
      height: 68px;
    }

    @media (min-width: @desktop-width) {
      height: 103px;
    }
  }

  iframe {
    display: block;
    border: none;
    width: 100%;
    height: 200px;

    @media (min-width: @tablet-width) {
      height: 374px;
    }

    @media (min-width: @desktop-width) {
      height: 502px;
    }
  }
}
