.fieldset-achievements {
  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 940px;
  }
}

.fieldset-achievements .form__list {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
