.intro {
  &--main {
    background: url("../img/hand.png") no-repeat 50% 88px;

    @media (min-width: @tablet-width) {
      max-width: 620px;
      margin: 0 auto;

      padding-top: 93px;
      padding-bottom: 114px;
      background: url("../img/hand-tablet.png") no-repeat 50% 100%;
    }

    @media (min-width: @desktop-width) {
      max-width: 940px;
      margin: 0 auto;
      padding-top: 99px;
      padding-bottom: 125px;
      background: url("../img/hand-desktop.png") no-repeat 0 100%;
    }
  }
}

.intro__download {
  @media (max-width: @mobile-width-only) {
    background-color: @dark-gray;
    padding-top: 28px;
    padding-bottom: 31px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.intro__caption {
  display: block;
  margin: 0 auto;
  margin-top: 23px;
  color: @white;

  &--main {
    max-width: 230px;
    padding-bottom: 315px;

    @media (min-width: @tablet-width) {
      margin-bottom: 31px;
      margin-top: 0;
      margin-left: 54px;
      max-width: 192px;
      padding: 0;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 36px;
      margin-left: 30px;
      max-width: 240px;
    }
  }

  &--form {
    margin-top: 29px;

    @media (min-width: @tablet-width) {
      max-width: 490px;
      margin-top: 81px;
    }

    @media (min-width: @desktop-width) {
      max-width: 747px;
      margin-top: 74px;
    }
  }

  &--catalog {
    margin-top: 36px;

    @media (min-width: @tablet-width) {
      margin-top: 81px;
      max-width: 360px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 74px;
    }
  }
}

.intro__download-button {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
    max-width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.intro__application-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 21px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    max-width: 300px;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.intro__application-item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.intro__apple-icon {
  display: block;
  width: 47px;
  height: 56px;
  background-image: url("../img/apple-logo.svg");
}

.intro__android-icon {
  display: block;
  width: 43px;
  height: 47px;
  background-image: url("../img/android-logo.svg");
}

.intro__windows-icon {
  display: block;
  width: 44px;
  height: 41px;
  background-image: url("../img/microsoft-logo.svg");
}

.intro__description {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    max-width: 300px;
  }
}
