.intro {
  background-color: @blue-black;

  &--main {
    background: url("../img/main-header/back-mobile-index.jpg") no-repeat left 50% top 0, @blue-black;
    padding-top: 89px;

    @media (min-resolution: 2dppx) {
      background: url("../img/main-header/back-mobile-index@2x.jpg") no-repeat left 50% top 0, @blue-black;
    }

    @media (min-width: @tablet-width) {
      background: url("../img/main-header/back-tablet-index.jpg") no-repeat left 50% top 0;
      padding-top: 205px;
      padding-bottom: 114px;

      @media (min-resolution: 2dppx) {
        background: url("../img/main-header/back-tablet-index@2x.jpg") no-repeat left 50% top 0, @blue-black;
      }
    }

    @media (min-width: @desktop-width) {
      background: url("../img/main-header/back-desktop-index.jpg") no-repeat left 50% top 0;
      padding-top: 209px;
      padding-bottom: 125px;

      @media (min-resolution: 2dppx) {
        background: url("../img/main-header/back-desktop-index@2x.jpg") no-repeat left 50% top 0, @blue-black;
      }
    }
  }

  &--catalog,
  &--form {
    background: url("../img/main-header/back-mobile.jpg") no-repeat left 50% top 0;
    padding-top: 94px;

    @media (min-resolution: 2dppx) {
      background: url("../img/main-header/back-mobile@2x.jpg") no-repeat left 50% top 0;
    }

    @media (min-width: @tablet-width) {
      background: url("../img/main-header/back-tablet.jpg") no-repeat left 50% top 0;
      padding-top: 176px;

      @media (min-resolution: 2dppx) {
        background: url("../img/main-header/back-tablet@2x.jpg") no-repeat left 50% top 0;
      }
    }

    @media (min-width: @desktop-width) {
      background: url("../img/main-header/back-desktop.jpg") no-repeat left 50% top 0;
      padding-top: 169px;

      @media (min-resolution: 2dppx) {
        background: url("../img/main-header/back-desktop@2x.jpg") no-repeat left 50% top 0;
      }
    }

    .title {
      line-height: 33px;

      @media (min-width: @tablet-width) {
        font-size: 50px;
        line-height: 68px;
      }
    }
  }

  &--catalog {
    padding-bottom: 77px;

    @media (min-width: @tablet-width) {
      padding-bottom: 128px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 89px;
    }
  }

  &--form {
    padding-bottom: 43px;

    @media (min-width: @tablet-width) {
      padding-bottom: 60px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 89px;
    }
  }
}

.intro__download {
  @media (max-width: @mobile-width-only) {
    padding-top: 28px;
    padding-bottom: 31px;
  }
}

.intro__caption {
  display: block;
  margin: 0 auto;
  color: @white;

  &--main {
    max-width: 230px;
    padding-bottom: 315px;

    @media (min-width: @tablet-width) {
      margin-bottom: 31px;
      margin-top: 0;
      margin-left: 54px;
      max-width: 192px;
      padding: 0;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 36px;
      margin-left: 30px;
      max-width: 240px;
    }
  }

  &--form {
    max-width: 280px;

    @media (min-width: @tablet-width) {
      max-width: 490px;
    }

    @media (min-width: @desktop-width) {
      max-width: 747px;
    }
  }

  &--catalog {
    max-width: 280px;

    @media (min-width: @tablet-width) {
      max-width: 360px;
    }
  }
}

.intro__download-button {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
    max-width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.intro__application-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 21px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    max-width: 300px;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
    align-items: flex-end;
  }
}

.intro__application-item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.intro__apple-icon {
  display: block;
  width: 47px;
  height: 56px;
  background-image: url("../img/icons/apple-logo.svg");
}

.intro__android-icon {
  display: block;
  margin-top: 2px;
  width: 43px;
  height: 47px;
  background-image: url("../img/icons/android-logo.svg");
}

.intro__windows-icon {
  display: block;
  width: 44px;
  height: 41px;
  margin-top: 6px;
  background-image: url("../img/icons/microsoft-logo.svg");
}

.intro__description {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    max-width: 300px;
  }
}
