.main-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 207px;
  margin-top: 49px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-height: 127px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    min-height: 197px;
  }
}

.main-footer__logo {
  fill: @dark-gray;

  &:hover,
  &:focus-visible {
    fill: @pink;
  }

  &:active {
    fill: @black;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    align-self: flex-start;
    margin-top: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 70px;
  }
}

.main-footer__tablet-logo {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-footer__desktop-logo {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
