.reviews__item {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    max-width: 688px;
    margin: 0 auto;
    padding-top: 184px;
    padding-bottom: 36px;
  }

  &::before {
    @media (min-width: @desktop-width) {
      content: "";
      display: block;
      width: 79px;
      height: 63px;
      position: absolute;
      top: 72px;
      left: 305px;
      background-image: url("../img/reviews-quote-icon.svg");
    }
  }
}

.reviews__author-name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  margin: auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    order: 2;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    margin-bottom: 2px;
  }
}

.reviews__author-info {
  display: none;
  font-size: 14px;
  line-height: 30px;
  color: @dark-gray;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: block;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  margin-top: 31px;
  color: @dark-gray;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    order: 1;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;
  }
}

.reviews__toggles {
  margin: 0;
  margin-top: 44px;
  padding: 0;
}

.reviews__prev,
.reviews__next {
  display: none;
}
