.tool-list {
  margin: 0;
  padding: 0;
  margin-top: 42px;
  margin-bottom: 114px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }
}

.tool-list__item {
  @media (max-width: @mobile-width-only) {
    position: relative;
  }

  &:not(:last-child) {
    @media (max-width: @mobile-width-only) {
      margin-right: 35px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 17px;
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 68px 207px;
    min-height: 56px;
    align-items: center;
  }
}

.tool-list__button {
  border: none;
  padding: 0;
}

.tool-list__label {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  &--active {
    @media (max-width: @mobile-width-only) {
      display: block;
      width: 280px;
      height: 50px;
      position: absolute;
      top: 59px;
      left: -40px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 202px;
  }

  @media (min-width: @desktop-width) {
    width: 348px;
  }
}

.tool-list__range {
  width: 100%;

  @media (max-width: @mobile-width-only) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}
