.advantages {
  background-image: linear-gradient(-5deg, @light-gray 77%, @white 77%);
}

.advantages__first-caption {
  display: block;
  color: @dark-gray;
  margin-top: 41px;
  margin-bottom: 29px;
}

.advantages__second-caption {
  display: block;
  color: @dark-gray;
  margin-bottom: 112px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.advantages__description {
  margin: 0;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 24px;
  color: @dark-gray;
  text-align: center;
}

.advantages__image {
  display: block;
  margin: auto;
}
