.intro {
  color: @white;

  @media (min-width: @tablet-width) {
    max-width: 300px;
  }
}

.intro__download-container {
  padding-top: 28px;
  padding-bottom: 31px;
}

.intro__caption {
  display: block;
  margin: 0;
  margin-top: 23px;
  color: @white;

  &--main {
    margin-bottom: 343px;

    @media (min-width: @tablet-width) {
      margin-top: 93px;
      margin-bottom: 31px;
      margin-left: auto;
      margin-right: auto;
      max-width: 205px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 99px;
      margin-bottom: 36px;
      max-width: 300px;
    }
  }

  &--form {
    padding-bottom: 43px;
  }

  &--catalog {
    padding-bottom: 84px;
  }
}

.intro__download-button {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.intro__application-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 21px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.intro__application-item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.intro__apple-icon {
  display: block;
  width: 47px;
  height: 56px;
  background-image: url("../img/apple-logo.svg");
}

.intro__android-icon {
  display: block;
  width: 43px;
  height: 47px;
  background-image: url("../img/android-logo.svg");
}

.intro__windows-icon {
  display: block;
  width: 44px;
  height: 41px;
  background-image: url("../img/microsoft-logo.svg");
}

.intro__description {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
